.fc-view-container{
	margin-bottom: 50px !important;
}


/* FOR VIEW SCHEDULE */
#sidemenu{
	float: left;
	border-right: 5px solid black;
	height: 600px;;
	/*background-color: #999999;*/
	color: #400000;
	font-size: 16px;
	padding-left: 20px;
}

#schedule-content{
	float: left;
}

.program-schedule{
	margin-top: 30px;
}

.program-schedule>select{
   overflow:auto;
	 border: none;
	 /*background-color: #999999;*/
	 height: auto;
	 width: 100%;
	 text-align: center;
	 outline:none;
 border:none;
 box-shadow:none;

}

.program-schedule option:hover{
	background-color: white;
	color: #400000;
}

.program-schedule option:focus{
	background-color: white;
	color: #400000;

}



/*FOR SET COMPLETED PAGE*/
.vis-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

.course-label {
  margin: 10px;
  padding: 5px;
	width: 100%;
	text-align: center;
	background-color: #d9534f !important;
	color: white !important;
}


.col-sm-6>input:hover + label {
	background-color: #400000 !important;
  border-color: #400000 !important;
	color: white !important;
}

.col-sm-6>input:checked + label {
	background-color: grey !important;
  opacity: .2;
  border-color: grey !important;
}


input:focus:checked + label {

}

.completed-btn{
	background-color: #400000 !important;
	color: white;
	width: 100%;
}

.completed-btn:hover{
  background-color: black !important;
}

/***************************************/

.navbar-custom{
  font-size: 1.1em;
}

.bg-faded{
  background-color: #400000 !important;
}

.nav-link{
  color:white !important;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: #8C8C8C !important;
}
body {
  background-color: #ECECEA !important;
	font-family: 'Noto Sans', sans-serif !important;
}

.active-page{
  color:  #FFD700 !important;
}

.welcome-user-info{
  padding-top: 30px;
  text-align: center;
}

li {
  padding-right: 30px;
}



/*COMPLETED COURSES*/
/*.btn-outline-danger{
  width: 100%;
  margin-top:10px !important;
  background-color: #d9534f !important;
  color: white !important;
}

.btn-outline-danger:hover{
  background-color: #400000 !important;
  border-color: #400000 !important;
}


.completed-btn{
  width: 100%;
  color: white;
  background-color: #A65F42;
  margin-top: 20px;
}




/*.btn-outline-danger:focus{
  background-color: black !important;
}*/

/*.btn-outline-danger.active{
  background-color: grey !important;
  opacity: .2;
  border-color: grey !important;
}*/

/*input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
}
input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}*/


/* FOR SCHEDULER PART*/

.scheduler-course-label {
  margin: 10px;
  padding: 5px;
  width: 20%;
  text-align: center;
  background-color: #d9534f !important;
  color: white !important;
}

.scheduler-course-label-fall {
  margin: 10px;
  padding: 5px;
  width: 20%;
  text-align: center;
  background-color: #FF851B !important;
  color: white !important;
}


.scheduler-course-label-winter {
  margin: 10px;
  padding: 5px;
  width: 20%;
  text-align: center;
  background-color: #0074D9 !important;
  color: white !important;
}


#course-select>input:hover + label {
  background-color: #400000 !important;
  border-color: #400000 !important;
  color: white !important;
}

#course-select>input:checked + label {
  background-color: grey !important;
  opacity: .2;
  border-color: grey !important;
}


/* Scheduler TAB STYLE */

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.nav > li > a:focus, .nav > li > a:hover{
	background-color: transparent !important;
}



/*Generated Schedules*/
.details {
  float: left;
  width: 25%;
}

.viewcalendar {
  float: left;
   width: 75%;
	 margin-bottom: 20px;
}

.viewcalendar2 {
  float: left;
   width: 75%;
}
.details-view {
  float: left;
  width: 25%;
	margin-left: 20px;
}
